html { 
	height: 100%;
	/*background: rgb(255,0,0);
	background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(115,0,0,1) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}

body {
	height: 100%;
}

#bgchange {
	z-index: 3;
	width: 100vw;
	height: 100vh;
}

.fairbg {
	width: 100%;
	height: 100%;
	background:URL(http://leeh779.github.io/projects/maxim/imgs/maxim-bg.gif);
	background-repeat: repeat;
}

.ffrepeat {
	width: 100%;
	height: 100%;
	color: red;
	font-family: bodoni-urw, serif;
	font-weight: 400;
	font-style: normal;
}

.quotebig {
	position: absolute;
	float: left;
	font-family: poynter-oldstyle-display, serif;
	font-weight: 600;
	font-style: normal;
	color: red;
	cursor: pointer;
	font-size: 5vw;
}

.quote {
	position: absolute;
	float: left;
	font-family: poynter-oldstyle-display, serif;
	font-weight: 600;
	font-style: normal;
	color: #fff;
	cursor: pointer;
	font-size: 3vw;
}

.quote:hover {
	transform: skew(-30deg);
}

.quote-r {
	position: absolute;
	float: left;
	font-family: poynter-oldstyle-display, serif;
	font-weight: 600;
	font-style: normal;
	color: #730000;
	cursor: pointer;
	font-size: 3vw;
}

.quote1 {
	margin-left: 4%;
}

.quote2 {
	display: none;
	margin-left: 70%;
}

.quote3 {
	display: none;
	margin: 15% 0 0 50%;
}

.quote4 {
	display: none;
	margin: 23% 0 0 40%;
}

.quote5 {
	display: none;
	margin: 30% 0 0 30%;
}

.quote6 {
	display: none;
	margin: 40% 0 0 65%;
}

.quote7 {
	display: none;
	margin: 44% 0 0 65%;
}

.quote8 {
	z-index: 3;
	display: none;
	margin: 48% 0 0 65%;
}

.quote9 {
	display: none;
	opacity: 0.4;
	margin: 55% 0 0 13%;
}

.quote10 {
	display: none;
	opacity: 0.6;
	margin: 60% 0 0 13%;
}

.quote11 {
	display: none;
	opacity: 0.8;
	margin: 65% 0 0 13%;
	padding-bottom: 30%;
}

.quote12 {
	display: none;
	margin: 54% 0 0 70%;
}

.quote13 {
	display: none;
	margin: 54% 0 0 40%;
}

.quote14 {
	display: none;
	margin: 57% 0 0 7%;
}

.quote15 {
	display: none;
	margin: 66% 0 0 40%;;
}

.quote16 {
	display: none;
	margin: 62.5% 0 0 40%;
}

.quote17 {
	display: none;
	margin: 75% 0 0 61%;
}

.quote18 {
	display: none;
	margin: 56% 0 0 5%;
}

/*여기서부터 다시!*/
.quote19 {
	display: none;
	margin: 60% 0 0 55%;
}

.quote20 {
	display: none;
	margin: 20% 0 0 35%;
}

.quote21 {
	display: none;
	margin: 25% 0 0 35%;
}

.quote22 {
	display: none;
	margin: 30% 0 0 35%;
}