html { 
	height: 100%;
}

body {
	height: 100%;
	cursor: pointer;
}

.bgcolor {
	background: linear-gradient(-45deg, #ff0000, #3f0909, #281919, #740000);
	background-size: 400% 400%;
	-webkit-animation: Gradient 2s ease infinite;
	animation : Gradient 2s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.quotebig {
	position: absolute;
	float: left;
	font-family: poynter-oldstyle-display, serif;
	font-weight: 600;
	font-style: normal;
	color: red;
	cursor: pointer;
	font-size: 5vw;
}

.quote {
	position: absolute;
	float: left;
	font-family: poynter-oldstyle-display, serif;
	font-weight: 600;
	font-style: normal;
	color: #fff;
	cursor: pointer;
	font-size: 3vw;
}


.quote-r {
	position: absolute;
	float: left;
	font-family: poynter-oldstyle-display, serif;
	font-weight: 600;
	font-style: normal;
	color: #730000;
	cursor: pointer;
	font-size: 3vw;
}

.quote-r:hover {
	transform: skew(30deg);
}

 /* AUDIO CONTROLS */
 .maximbgm {
   visibility: hidden;
 }

.volume {
	font-family: poynter-oldstyle-display, serif;
	font-weight: 600;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	color: #000;
	cursor: pointer;
	font-size: 2vw;
	position: absolute;
	margin: 25% 40%;
}


.quote1 {
	display: none;
	margin-left: 4%;
}

.quote2 {
	display: none;
	margin-left: 70%;
}

.quote3 {
	display: none;
	margin: 15% 0 0 50%;
}

.quote4 {
	display: none;
	margin: 23% 0 0 40%;
}

.quote5 {
	display: none;
	margin: 30% 0 0 30%;
}

.quote6 {
	display: none;
	margin: 40% 0 0 65%;
}

.quote7 {
	display: none;
	margin: 44% 0 0 65%;
}

.quote8 {
	z-index: 3;
	display: none;
	margin: 48% 0 0 65%;
}

.quote9 {
	display: none;
	opacity: 0.4;
	margin: 55% 0 0 13%;
}

.quote10 {
	display: none;
	opacity: 0.6;
	margin: 60% 0 0 13%;
}

.quote11 {
	display: none;
	opacity: 0.8;
	margin: 65% 0 30% 13%;
}

.quote12 {
	display: none;
	margin: 54% 0 0 70%;
}

.quote13 {
	display: none;
	margin: 54% 0 0 40%;
}

.quote14 {
	display: none;
	margin: 57% 0 0 7%;
}

.quote15 {
	display: none;
	margin: 66% 0 0 40%;;
}

.quote16 {
	display: none;
	margin: 62.5% 0 0 40%;
}

.quote17 {
	display: none;
	margin: 75% 0 0 61%;
}

.quote18 {
	display: none;
	margin: 56% 0 0 5%;
}

.quote19 {
	display: none;
	margin: 60% 0 0 55%;
}

.quote20 {
	display: none;
	margin: 20% 0 0 35%;
}

.quote21 {
	display: none;
	margin: 25% 0 0 35%;
}

.quote22 {
	display: none;
	margin: 30% 0 0 35%;
}

.quote23 {
	display: none;
	margin: 35% 0 0 35%;
}