body {
	background: #000;
}


p {
    font-family: "Courier New";
    line-height: 1.2;
    padding: 5px 20px;
    overflow: auto;
}

a { 
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

#body-new-1 {
    position: absolute;
    margin: 0 auto;
    z-index: 100;
    width: 350px;
    height: 650px;
    background: #000;
    border: 1px solid #fff;
    color: #fff;
}

.body-new-1-top {
    width: 350px;
    height: 290px;
    opacity: 0.1;
    background: URL("imgs/img-sm-window-top.png") no-repeat;
    background-size: contain;
}

.body-new-1-bottom {
    width: 350px;
    opacity: 0.1;
    position: absolute; 
    left:0; 
    bottom:0;
}

/* Youtube Layout */
#body-new-2 {
    display: none;
    position: absolute;
    left: 20%;
    z-index: 100;
    width: 350px;
    height: 650px;
    background: #282828;
    border: 1px solid #fff;
    color: #fff;
}

.body-new-2-top {
    width: 350px;
    height: 290px;
    opacity: 0.1;
    background: URL("imgs/img-sm-window-top-2.png") no-repeat;
    background-size: contain;
}

.body-new-2-bottom {
    width: 350px;
    opacity: 0.1;
    position: absolute; 
    left:0; 
    bottom:0;
}

/* FB Layout */
#body-new-3 {
    display: none;
    position: absolute;
    left: 40%;
    z-index: 100;
    width: 350px;
    height: 650px;
    background: #fefefe;
    border: 1px solid #fff;
    color: #000;
}

.body-new-3-top {
    width: 350px;
    height: 150px;
    opacity: 0.2;
    background: URL("imgs/img-sm-window-top-3.png") no-repeat;
    background-size: contain;
}

.body-new-3-bottom {
    width: 350px;
    opacity: 0.2;
    position: absolute; 
    left:0; 
    bottom:0;
}
