/*
  Coding from Life – Sketch 2: fluid layout

  For sketch 2 you'll be positioning elements relative to a fluid container. This
  means you'll need to use percentages when positioning and sizingelements within
  your frame.
*/


body {
  background-color: black;
}

.frame {
  width: 95vw;
  height: 57vw;
  background: white;
  margin: 2.5vw auto;
  position: relative;
}

/* Your CSS goes here */
.book {
  z-index: 10;
  position: absolute;
  top: 40%;
  left: 48%;
  width: 20%;
  height: 35%;
}

.book-top-1 {
    z-index: 10;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 41.5%;
    height: 58%;
    background: #fff;
    transform: skew(10.4deg) rotate(-60deg);
    border: 1px solid #888888;
}

.book-top-2 {
  z-index: 9;
  position: absolute;
  top: 49%;
  left: -18%;
  width: 65.6%;
  height: 16%;
  background: #000;
  transform: rotate(27.8deg) skew(36deg);
  border: 1px solid #000;
}

.book-top-2-title {
  background: #26625a;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.book-top-2-title:before {
  content: " JavaScript";
  color: white;
  white-space: pre;
  word-wrap: break-word;
}

.book-top-2-title:after {
  content: " \A  The Definite Guide";
  color: white;
  white-space: pre;
  word-wrap: break-word;
  font-size: 70%;
}

.book-top-3 {
  z-index: 9;
  position: absolute;
  top: 48.9%;
  left: 32.5%;
  width: 39.1%;
  height: 10%;
  background: #666666;
  transform: rotate(-68.5deg) skew(-60deg);
  border: 1px solid #666666;
}


.flower {
  z-index: 5;
  position: absolute;
  width: 10%;
  height: 17%;
  top: 26%;
  left: 45%;
}

.flower2 {
  position: absolute;
  width: 10%;
  height: 17%;
  top: 27.5%;
  left: 47%;
}
.flower3 {
  position: absolute;
  width: 10%;
  height: 17%;
  top: 31.5%;
  left: 46%;
}

.flower4 {
  position: absolute;
  width: 10%;
  height: 17%;
  top: 29.5%;
  left: 47.5%;
}

.flower5 {
  position: absolute;
  width: 10%;
  height: 17%;
  top: 29.5%;
  left: 45%;
}

.flower-petal {
  z-index: 5;
  position: absolute;
  border-radius: 50%;
  background: pink;
  border: 1px solid #dda2ac;
}

.flower-petal-1 {
  top: 2%;
  left: 15%;
  width: 10%;
  height: 10%;
}

.flower-petal-2 {
  top: 0%;
  left: 20%;
  width: 15%;
  height: 15%;
}

.flower-petal-3 {
  top: 1%;
  left: 28%;
  width: 10%;
  height: 10%;
}

.flower-petal-4 {
  top: 7%;
  left: 17%;
  width: 10%;
  height: 10%;
}

.flower-petal-5 {
  top: 6%;
  left: 25%;
  width: 11%;
  height: 11%;
}

.flower-stem {
  z-index: 5;
  background: #9f4940;
  width: 1.5%;
  height: 40%;
  position: absolute;
  left: 26.6%;
  top: 25%;
}

.cone {
    position: absolute;
    z-index: 10;
    width: 0;
    height: 0;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-top: 2.5vh solid #9f4940;
    border-radius: 50%;
    top: 28.4%;
    left: 46.7%;
}

.cone2 {
    top: 30%;
    left: 48.7%;
}
.cone3 {
    top: 33.5%;
    left: 47.6%;
}

.cone4 {
  top: 31.5%;
  left: 49.2%;
}

.cone5 {
  top: 31.9%;
  left: 46.6%;
}


.table {
  position: absolute;
  width: 30%;
  height: 70%;
  top: 10%;
  left: 32%;
}

.table-trapezoid {
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 10%;
  width: 100%;
  height: 90%;
  transform: skew(10deg);
  background: #333333;
}

.table-side {
  z-index: 0;
  position: absolute;
  top: 0%;
  left: -4%;
  width: 100%;
  height: 20%;
  transform: skew(-10deg);
  background: #666666;
}

.table-front {
  z-index: 1;
  position: absolute;
  top: 90%;
  left: 21.2%;
  width: 100%;
  height: 20%;
  background: black;
}

.vase {
  z-index: 4;
  position: absolute;
  margin: 0 auto;
  width: 5%;
  height: 25%;
  border-radius: 50px/25px;
  background-color: rgba(160, 160, 160, 0.5);
  top: 30%;
  left: 46.3%;
}

.candle {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 36%;
  left: 43%;
}

.candle-top {
  z-index: 6;
  position: absolute;
  background: #d89e7d;
  width: 50%;
  height: 30%;
  transform: skew(-15deg) rotate(22deg);
}

.candle-front-1 {
  position: absolute;
  background: #94572a;
  width: 16%;
  height: 57%;
  top: 17%;
  z-index: 5;
  transform: skew(32deg) rotate(32deg);
}

.candle-front-1-leg {
  z-index: 4;
  position: absolute;
  width: 0;
  height: 0;
  top: 63%;
  left: -2%;
  border-style: solid;
  border-width: 1.5vw 0 0 1.5vw;
  border-color: transparent transparent transparent #94572a;
  transform: rotate(91deg);
}

.candle-front-2 {
  position: absolute;
  background: #7a4020;
  width: 19%;
  height: 73%;
  top: 17%;
  left: 18%;
  z-index: 5;
  transform: skew(32deg) rotate(32deg);
}

.candle-front-2-leg {
  z-index: 4;
  position: absolute;
  width: 0;
  height: 0;
  top: 87%;
  left: 23%;
  border-style: solid;
  border-width: 1.5vw 0 0 1.5vw;
  border-color: transparent transparent transparent #7a4020;
  transform: rotate(200deg);
}

.candle-side {
  z-index: 5;
  position: absolute;
  background: #683519;
  top: 16%;
  left: 38%;
  width: 14%;
  height: 98%;
}

.candle-left {
  z-index: 5;
  position: absolute;
  width: 0;
  height: 0;
  top: 11%;
  left: -24%;
  transform: rotate(24deg);
  border-style: solid;
  border-width: 0 3vw 2vw 0;
  border-color: transparent #94572a transparent transparent;
}