body {
	font-family: runda, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	background: #e6e6e6;
	height: 100vh;
}

ul { list-style-type: none; }

a { text-decoration: none; color: black; }
a:hover { text-decoration: none; color: #666666; }

.visited {
	color: orange;
}


h1 {
	display: inline;
	font-size: 50px;
	margin-block-start: 0;
    margin-block-end: 0;
    vertical-align: middle;
    padding: 20px;
}

ul {
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}


.top-navi {
	background-color: #fff;
	display: block;
	clear: both;
	height: 10%;
}


.top-navi-left {
	float: left;
	width: 60%;
}

.top-navi-right {
	display: block;
	float: right;
	text-align: right;
	width: 35%;
	line-height: 4.2;
}

.top-navi-right a {
	font-size: 22px;
	cursor: pointer;
	margin-right: 2%;
	vertical-align: middle; 
}

.top-navi-right a:hover {
	color: #999999;
}

.top-navi-right-hamburger {
	float: right;
	margin: 30px 25px;
	cursor: pointer;
}

.top-navi-right-hamburger-line {
	width: 45px;
	height: 2px;
	background-color: #000;
	margin-bottom: 10px;
}

.top-navi-right-hamburger-inner {
	display: none;
	width: 100%;
	overflow: auto;
	background-color: black;
}

.top-navi-right-hamburger-inner li {
	font-size: 24px;
	cursor: pointer;
	color: #fff!important;
	text-align: center;
	padding: 20px 0;
}

.font-highlight {
	color: orange;
}

.cursor-pointer {
	cursor: pointer;
}

.content-wrapper p {
	font-size: 22px;
	line-height: 1.5;
}

.underline {
	text-decoration: underline;
}

/* Phone breakpoint */
@media (max-width: 768px) {
	h1 {
		 font-size: 40px;
	}

	.top-navi-right {
		display: none;
	}

	.top-navi-right-hamburger {
		display: block;
	}

	.content-wrapper .title {
		font-size: 30px;
	}

	.content-wrapper .icon {
		width: 45px;
		padding: 7px 7px 7px 0;
	}

	.content-wrapper .profile {
		width: 100%;
		padding-bottom: 7%;
	}

	.content-wrapper {
		width: 380px;
		margin: 50px auto;
	}

	.content-block {
		margin-bottom: 50px;
	}

	.content-block-left {
		font-size: 20px;
		font-weight: 700;
	}

	.video-wrapper {
		width: 480px;
		margin: 50px auto;
	}

	.video-size {
		width: 480px;
		height: 270px; 
	}

}

/* Tablet breakpoint */
@media (min-width: 768px) {
	.top-navi-right {
		display: none;
	}
	
	.top-navi-right-hamburger {
		display: block;
	}

	.content-wrapper .title {
		font-size: 30px;
	}

	.content-wrapper .icon {
		width: 60px;
		padding: 8px 8px 8px 0;
	}

	.content-wrapper {
		width: 720px;
		margin: 70px auto;
	}

	.content-wrapper .profile {
		width: 50%;
		padding: 0 5% 2% 0;
	}

	.content-block {
		margin-bottom: 70px;
	}

	.content-block-left {
		font-size: 24px;
		font-weight: 700;
	}

	.video-wrapper {
		width: 720px;
		margin: 70px auto;
	}

	.video-size {
		width: 720px;
		height: 405px; 
	}
}

.content-wrapper .title {
	font-weight: 700;
	line-height: 1.5;
}

/* Desktop breakpoint */
@media (min-width: 992px) {
	.top-navi-right {
		display: block;
	}
	
	.top-navi-right-hamburger {
		display: none;
	}

	.content-wrapper .title {
		font-size: 30px;
	}

	.content-wrapper .icon {
		width: 60px;
		margin-right: 5px;
	}

	.content-wrapper {
		width: 990px;
		margin: 80px auto;
	}

	.content-wrapper .profile {
		width: 50%;
		padding: 0 5% 5% 0;
	}

	.content-block {
		margin-bottom: 80px;
	}

	.content-block-left {
		font-size: 28px;
		font-weight: 700;
	}

	.video-wrapper {
		width: 960px;
		margin: 80px auto;
	}

	.video-size {
		width: 960px;
		height: 540px; 
	}
}

/* Wide screen breakpoint */
@media (min-width: 1200px) {
	.top-navi-right {
		display: block;
	}
	
	.top-navi-right-hamburger {
		display: none;
	}

	.content-wrapper {
		width: 1100px;
		margin: 80px auto;
	}

	.content-wrapper .title {
		font-size: 30px;
	}

	.content-wrapper .icon {
		width: 60px;
		padding: 8px 8px 8px 0;
	}

	.content-wrapper .profile {
		width: 50%;
		padding: 0 5% 5% 0;
	}

	.content-block {
		margin-bottom: 80px;
	}

	.content-block-left {
		font-size: 30px;
		font-weight: 700;
	}

	.video-wrapper {
		width: 960px;
		margin: 80px auto;
	}

	.video-size {
		width: 960px;
		height: 540px; 
	}
}




/* project subpages */
	.content-block {
		clear: both;
		overflow: auto;
	}

	.content-block .link {
		cursor: pointer;
		box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	-webkit-box-sizing: border-box;
		width: 100%;
		border: 1px solid #999999;
		text-align: center;
		font-size: 30px;
		font-weight: 700;
		padding: 30px 0;
		margin-bottom: 2%;
	}

	.content-block:hover .link {
		background-color: orange;
		color: #fff;
		border: 1px solid orange;
		animation: linkBg 0.3s ease-in;
	}

	@keyframes linkBg {
		0% {background-color: #fff; color: #000;}
		100% {background-color: orange; color: #fff;}
	}

	.content-block p {
		margin-block-start: 0;
    	margin-block-end: 0;
		line-height: 1.5;
	}

	.content-block img {
		clear: both;
		width: 100%;
	}

	.content-block-left {
		float: left;
		width: 30%;
	}

	.content-block-right {
		float: right;
		width: 70%;
	}

	.content-block-right img {
		width: 100%;
		clear: both;
	}

