body {
	width: 100vw;
	height: 100vh;
	margin: 0;
}

h1 {
	font-family: acier-bat-noir, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 70px;
	text-align: center;
	z-index: 10;
}

input {
	z-index: 10;
	font-family: acier-bat-solid, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	width: 270px;
	padding: 15px 5px;
	border-width: 2px;
	margin-bottom: 3px;
}

button {
	cursor: pointer;
	width: 285px;
	height: 59px;
	font-family: acier-bat-solid, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	color: white;
	background-color: black;
    padding: 0;
    margin-bottom: 3px;
}

.container {
	width: 70%;
	margin: 23% auto;
	display: block;
}

.input-container {
	margin: 0 auto;
}

.main-dot {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 40%;
	width: 60%;
	height: 100%;
	background: URL(assets/imgs/bgpattern-1.png) repeat;
}

.main-zigzag {
	z-index: 2; 
	position: absolute;
	top: 15%;
	left: 80%; 
	width: 400px;
	height: 480px;
	background: URL(assets/imgs/bgpattern-3.png) no-repeat;
}

.main-pattern {
	z-index: 2;
	position: absolute;
	top: 83%;
	left: 0;
	width: 50%;
	height: 10%;
}

.display-none {
	display: none;
}

.triangle-rotate:hover {
	animation: rotate4 1s ease-in-out infinite;
}

.rectangle-hover {
	cursor: pointer;
}

.rectangle-hover:hover {
	animation: rectangleHover 1s ease-in-out infinite;
}

@keyframes rectangleHover {
	0% {
		border: 10px solid black;
	}

	50% {
		border: 20px solid #61bbf4;
	}

	100% {
		border: 10px solid black;
	}
}

.rotate1 {
	animation: rotate1 1s ease-in-out infinite;
}

@keyframes rotate1 {
  0% {
    transform: rotate(0.5turn);
  }
  60% {
    transform: rotate(0.7turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

.rotate2 {
	animation: rotate2 1.5s ease-in-out infinite;
}

@keyframes rotate2 {
	0% {
		top: 10%;
	}

	50% {
		top: 90%;
	}

	100% {
		top: 10%;
	}
}

.rotate3 {
	animation: rotate3 2s ease-in-out infinite;
}

@keyframes rotate3 {
	0% {
		left: 5%;
	}

	60% {
		left: 90%;
	}

	100% {
		left: 5%;
	}
}

@keyframes rotate4 {
  0% {
    transform: rotate(0turn);
  }

  50% {
  	border-bottom-color: #ab32ea;
  }

  100% {
    transform: rotate(1turn);
  }
}

/* result Shapes */

.shape1 {
	z-index: 10;
	position: absolute;
	width: 0;
	height: 0; 
}

.shape2 {
	z-index: 10;
	position: absolute; 
	border-radius: 50%;
	height: auto;
	background: URL(assets/imgs/bgpattern-5.png) repeat;
}

.shape3 {
	z-index: 10;
	position: absolute; 
	width: 30%; 
	background: URL(assets/imgs/bgpattern-4.png);
	border: 10px solid #cccccc;
}

.shape4 {
	z-index: 1;
	position: absolute; 
	top:0; 
	width: 35%;
	height: 100%;
	background: URL(assets/imgs/bgpattern-1.png) repeat;
}

.shape5 {
	z-index: 2;
	position: absolute:
	top:0; 
	background: URL(assets/imgs/bgpattern-2.png) repeat;
}

.shape6 {
	z-index: 2; 
	position: absolute; 
	top: 30%; 
	left:0;
	width: 100%;
	height: 20%; 
}

.shape7 {
	z-index: 2;
	position: absolute;
	top: 60%;
	left: 20%;
	width: 25%;
	height: 30%;
	border: 10px solid black;
}

.shape8 {
	z-index: 2;
	position: absolute;
	top: 20%;
	left: 60%;
	width: 20%;
	height: 40%;
	border: 10px solid white;
}

.shape9 {
	z-index: 2;
	position: absolute;
	left: 75%;
	width: 4%;
	height: 5%;
	border: 10px solid black;
}


#btn-refresh {
	cursor: pointer;
	z-index: 20;
	opacity: 0.3;
}

#btn-refresh:hover {
	animation: rotate4 1s ease-in-out once;	
	opacity: 1;
}

/* responsive */
/* Phone breakpoint */
@media (max-width: 768px) {
	.input-container {
		width: 285px;
	}
}

/* Tablet breakpoint */
@media (min-width: 768px) {
	.input-container {
		width: 573px;
	}
}

/* Desktop breakpoint */
@media (min-width: 992px) {
	.input-container {
		width: 573px;
	}
}

/* Wide screen breakpoint */
@media (min-width: 1200px) {
	.input-container {
		width: 1149px;
	}
}